{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center text-primary">Update Contact Data</h1>
        <div class="col-6">
            <h2>Update Message</h2>
            <form name="frm" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="fullname" class="form-label">Your name</label>
                    <input type="text" value="{{contact.fullname}}" name="fullname" id="fullname" class="form-control border-primary">
                </div>
                <div class="mb-3">
                    <label for="email_id" class="form-label">Your email</label>
                    <input type="email" value="{{contact.email_id}}" name="email_id" id="email_id" class="form-control border-primary">
                </div>
                <div class="mb-3">
                    <label for="message">Your Message</label>
                    <textarea name="message" id="message" class="form-control border-primary" rows="7">{{contact.message}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-5">Update Message</button>
            </form>
            {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-success">
                {{msg}}
            </div>
            {% endfor %}
            {% endif %}
            
        </div>
    </div>
{% endblock %}